/* @import url(//db.onlinewebfonts.com/c/c1733d03fa03da0e77d61f11ba8e77de?family=ChurchwardDesignLines-Regular);
@font-face {font-family: "ChurchwardDesignLines-Regular"; src: url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.eot"); src: url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.woff") format("woff"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.svg#ChurchwardDesignLines-Regular") format("svg"); }  */

@font-face {
    font-family: 'churchward-design-lines';
    src: url('fonts/churchward-design-lines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'churchward-design-mysshadow';
    src: url('fonts/churchward-design-mysshadow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'churchward-design-noend';
    src: url('fonts/churchward-design-noend.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'churchward-design-revshadow';
    src: url('fonts/churchward-design-revshadow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'churchward-design';
    src: url('fonts/churchward-design.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }  